<a href="https://colab.research.google.com/github/Nami2012/2048/blob/master/Stage_1_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install emot
import pandas as pd
import re
import nltk
import math
import re, csv, yaml
from nltk.corpus import wordnet
from nltk.metrics import edit_distance
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.tokenize import sent_tokenize,word_tokenize
from emot.emo_unicode import UNICODE_EMO,EMOTICONS
from nltk.stem import LancasterStemmer,PorterStemmer
from nltk.stem import WordNetLemmatizer
import matplotlib 
from matplotlib import pyplot as plt
import string

Collecting emot
  Downloading https://files.pythonhosted.org/packages/49/07/20001ade19873de611b7b66a4d5e5aabbf190d65abea337d5deeaa2bc3de/emot-2.1-py3-none-any.whl
Installing collected packages: emot
Successfully installed emot-2.1
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
data = pd.read_csv('./agr_en_train_Corrected.csv')
data = data.dropna(axis=1, thresh=3,how='any') 

data = data.dropna()
data.head()

                           ID   ... Label
0   facebook_corpus_msr_438967  ...   CAG
1  facebook_corpus_msr_2073032  ...   CAG
2   facebook_corpus_msr_362752  ...   CAG
3  facebook_corpus_msr_1956970  ...   CAG
4   facebook_corpus_msr_487742  ...   CAG

[5 rows x 3 columns]

In [ ]:
data['Label'] = data.apply(lambda row:re.sub(r'^https?:\/\/.*[\r\n]*|\S*@\S*\s?','', row['Label'], flags=re.MULTILINE),axis=1)
data.head()

                           ID   ... Label
0   facebook_corpus_msr_438967  ...   CAG
1  facebook_corpus_msr_2073032  ...   CAG
2   facebook_corpus_msr_362752  ...   CAG
3  facebook_corpus_msr_1956970  ...   CAG
4   facebook_corpus_msr_487742  ...   CAG

[5 rows x 3 columns]

In [ ]:
data['emoji'] =""
data.head()

                           ID   ... emoji
0   facebook_corpus_msr_438967  ...
1  facebook_corpus_msr_2073032  ...
2   facebook_corpus_msr_362752  ...
3  facebook_corpus_msr_1956970  ...
4   facebook_corpus_msr_487742  ...

[5 rows x 4 columns]

In [ ]:
def add_emoji(text):
    emoticons = []
    for emot in UNICODE_EMO:
        if emot in text:
          emoticons.append(emot)
    
    for emot in EMOTICONS:
        if emot in text:
          emoticons.append(emot)
    return emoticons

def convert_emojis(text):
    string = text
    for emot in UNICODE_EMO:
        text = text.replace(emot, "_".join(UNICODE_EMO[emot].replace(",","").replace(":","").split()))
    for emot in EMOTICONS:
        text = re.sub(u'('+emot+')', "_".join(EMOTICONS[emot].replace(",","").split()), text)
    if string == text:
      return ""
    return text
data['emoji'] = data.apply(lambda row:convert_emojis(row['Text']),axis=1)

In [ ]:
data.head()

                           ID   ... emoji
0   facebook_corpus_msr_438967  ...
1  facebook_corpus_msr_2073032  ...
2   facebook_corpus_msr_362752  ...
3  facebook_corpus_msr_1956970  ...
4   facebook_corpus_msr_487742  ...

[5 rows x 4 columns]

In [ ]:
def csv_download_link(df, csv_file_name, delete_prompt=True):
    """Display a download link to load a data frame as csv from within a Jupyter notebook"""
    df.to_csv(csv_file_name, index=False)
    from IPython.display import FileLink
    display(FileLink(csv_file_name))
    if delete_prompt:
        a = input('Press enter to delete the file after you have downloaded it.')
        import os
        os.remove(csv_file_name)

In [ ]:
csv_download_link(data, 'EmoticonText.csv')

/content/EmoticonText.csv

Press enter to delete the file after you have downloaded it.

In [ ]:
count = 0
for row in data['emoji']:
  if row:
    count+=1
print((count/11999) * 100)

10.867572297691474